@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-bg: #111;
    --main-fg: #fff;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--main-bg);
    color: var(--main-fg);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
